[Unit]
Description=NodeJS Workers Scheduling
After=network.target
 
[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/nodeapps/2026/t7
ExecStart=npm run start
Restart=on-failure
 
[Install]
WantedBy=multi-user.target

